body {
  font-family: Arial, sans-serif;
  margin: 20px;
}

#pdf-container {
  width: 800px;
  margin: auto;
}

.pdf-page {
  position: relative;
  margin-bottom: 30px;
  border: 1px solid #ccc;
  background: #f8f8f8;
}

.pdf-canvas {
  display: block;
  margin: auto;
}

/* слой под факсимиле */
.overlay-layer {
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
